* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #1a3e52;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img.imagen-goc {
    position: relative;
    top: -10px;
    height: 150px;
    width: 150px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block; /* Changed to inline-block for better alignment */
    margin-right: 10px;
    font-size: 20px;
}

nav h1 {
    color: white;
    position: absolute; /* Changed to absolute for better positioning */
    top: 40px; /* Adjusted;*/
    left: 160px; /* Adjusted position */
    font-size: 40px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.resolucion {
    width: 99%;
    text-align: left;
}


/**Movil**/

@media (max-width: 767px) {
    .desktop {
        display: none;
    }
    .tablet {
        display: none;
    }
}


/**Tablet**/

@media (min-width: 768px) and (max-width: 990px) {
    .desktop {
        display: none;
    }
    .movil {
        display: none;
    }
}


/**Escritorio**/

@media (min-width: 991px) {
    .tablet {
        display: none;
    }
    .movil {
        display: none;
    }
}